 {% extends "base.html" %}

{% block content %}

<div class="panel-container">
	<h1 class="text-center p-3">Personal Information</h1>

	<form action="" method="POST">
		{% csrf_token %}
 		<fieldset>

	    <div class="form-group">
	        {{ form.firstName.label_tag }}
	        {{ form.firstName }}
	        {{ form.firstName.errors }}
	    </div>

	    <div class="form-group">
	        {{ form.lastName.label_tag }}
	        {{ form.lastName }}
	        {{ form.lastName.errors }}
	    </div>

	    <div class="form-group">
	        {{ form.DOB.label_tag }}
	        <div class="dob-widget">{{ form.DOB }}</div>
	        {{ form.DOB.errors }}
	        
	    </div>

	    <div class="form-group">
	        {{ form.gender.errors }}
	        {{ form.gender.label_tag }}
	        {{ form.gender }}
	    </div>

		<div class="form-row">
			<button type="submit" class="btn btn-outline-success btn-lg text-center next-btn">Submit</button>
		</div>

	</form>

</div>

{% endblock %}